/* body {
} */

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  height: 50px;
}

#trybewarts-header-title {
  display: flex;
  align-self: center;
}

.trybewarts-login {
  display: flex;
  height: 20px;
  padding: 15px;
  align-self: center;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

/* #input-name #input-lastname #input-email {
  display: flex;
  width: 25px;
  height: 25px;
} */

#trybewarts-forms-logo {
  height: 500px;
}
